.Auth_wrap {
  @include reset();
  @include media();
  width: 98%;

  .title_area {
    @include textarea();
    margin-bottom: 20px;
    justify-content: space-between;

    .close {
      width: 30px;
      height: 30px;
    }
    p {
      margin: 0 auto;
    }
  }

  .auth-form {
    @include size();
    & > div {
      display: flex;
      flex-direction: column;
    }
    input {
      order: 1;

      & + label {
        order: 0;
      }
    }

    .id_title {
      margin-bottom: 7px;

      &::after {
        content: "*";
        color: orange;
        font-size: 12px;
        margin-left: 5px;
      }
    }

    .warning {
      font-size: 11px;
      margin-bottom: 12px;
      color: #bbb;
    }

    .form-control {
      @include input-text();
      @include size();
      margin-bottom: 15px;

      &::placeholder {
        color: gray;
      }
    }

    #id {
      margin-bottom: 10px;
    }

    .btn {
      @include size();
      @include btn();
      @include flex();
      background: #2a96ee;
      color: #fff;
      border-radius: 7px;
    }

    .un_btn {
      @extend .btn;
      background: gray;
      pointer-events: none;
    }
  }

  .terms {
    @include size();
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 5px 0;

    input[type="checkbox"] {
      display: none;
    }

    .all_check {
      display: flex;
      @include size();

      .check {
        width: 25px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid #eee;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 0;
      }
    }

    .check_wrap {
      border: 1px solid #eee;
      box-sizing: border-box;
      padding: 20px 15px;
      width: 100%;
      margin: 15px 0;
    }

    .check_wrap li {
      display: flex;
      @include size();
      margin-bottom: 25px;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      .check {
        width: 25px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid #eee;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 0;
      }
    }
  }
}

.oncheck {
  border: 0;
}

.offcheck {
  background-image: none;
  border: 1px solid #eee;
}
