button.noShadow {
  &:focus {
    box-shadow: none !important;
  }
}

.post.skeleton {
  gap: 16px;

  figure {
    margin-right: 0;
    margin-left: 0;
    background: #e7e7e7;
  }

  .post_text,
  .text_wrap p {
    background: #e7e7e7;
  }

  .text_wrap {
    p {
      width: 100%;
      height: 16px;
    }
  }
}

.wrap:has(.full-popup) .in_wrap {
  width: 100%;
}

.text-right {
  text-align: right;
}

.direction-wrap > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  button {
    width: 100%;
  }
}

.direction-wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: auto;
}

.form-control {
  @include input-text();
  @include size();
  &::placeholder {
    color: gray;
  }
}

.use__item {
  display: flex;
  width: 100%;
  gap: 16px;
  align-items: center;
  input {
    display: block;
  }
  label {
    display: flex;
    width: 123px;
    height: auto;
    img {
      order: 0;
    }
    p {
      font-size: 14px;
      color: #888;
      order: 1;
    }
  }
}

.is__white_bg.input_wrap > input {
  margin-top: 56px;
  border: 1px solid #000;
  border-radius: 0;
  text-indent: 20px !important;
}

.is__white_bg.input_wrap {
  display: flex;
  width: 100%;
  justify-content: center;
}

.no__board {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: center;
}
