.board_wrap {
  padding-top: 100px;

  .board__header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 768px;
    gap: 32px;
    padding-bottom: 56px;
    border-bottom: 1px solid #ddd;
    .header_img {
      border-radius: 50%;
    }
    .board__nickname {
      font-size: 26px;
      font-weight: 500;
    }
  }

  .board__content {
    display: flex;
    width: 100%;

    .all_view {
      color: rgb(32, 201, 151);
      span {
        color: #888;
      }
    }
    .content__in {
      max-width: 768px;
      padding-top: 20px;
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: column;

      article {
        padding-bottom: 48px;
        border-bottom: 1px solid #ddd;
      }

      figure,
      figcaption {
        width: 100%;
      }

      figcaption {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .caption__bottom {
          width: 100%;
          display: flex;
          gap: 16px;
          p {
            font-size: 14px;
            color: #888;
          }
        }

        .content__title {
          font-size: 24px;
        }
        .content__text {
          font-size: 16px;
        }
      }
    }
  }
}
