:root {
    // font size
    --fontsize-small : 12px;
    --fontsize-medium: 16px;
    --fontsize-large:18px;
    --fontsize-xlarge:20px;
    // font size 

    // 줄 간격 
    --lineheight-one : 1;
    --lineheight-heading:1.25;
    --lineheight-body :1.5;
    // 줄 간격 

    // 글자 색상 
    --maincolor: #333;
    --subcolor:#808080;
    --pointcolor : #20c997;
    // 글자 색상 

    // margin & padding
    --gap-small : 12px;
    --gap-medium: 16px;
    --gap-large:18px;
    --gap-xlarge:20px;
    // margin & padding

    // width
    --full : 100%;
    --half : 50%;
    --threeSlice : 25%;
    --fourSlice : 20%;
    // width

    // width
}