* {
  margin: 0;
  padding: 0;
  word-break: keep-all;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #333333;
}

#wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
  position: relative;
}

header,
section,
footer {
  width: 100%;
}

.in_wrap {
  margin: 0 auto;
  overflow: hidden;
}
