@font-face {
  font-family: "Spoqa-Hans";
  font-weight: 300;
  src:
    url("../app/_asset/fonts/SpoqaHanSansNeo-Light.woff2") format("woff2"),
    url("../app/_asset/fonts/SpoqaHanSansNeo-Light.woff") format("woff"),
    url("../app/_asset/fonts/SpoqaHanSansNeo-Light.eot") format("eot");
}

@font-face {
  font-family: "Spoqa-Hans";
  font-weight: 400;
  src:
    url("../app/_asset/fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2"),
    url("../app/_asset/fonts/SpoqaHanSansNeo-Regular.woff") format("woff"),
    url("../app/_asset/fonts/SpoqaHanSansNeo-Regular.eot") format("eot");
}

@font-face {
  font-family: "Spoqa-Hans";
  font-weight: 500;
  src:
    url("../app/_asset/fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2"),
    url("..//app/_asset/fonts/SpoqaHanSansNeo-Medium.woff") format("woff"),
    url("../app/_asset/fonts/SpoqaHanSansNeo-Medium.eot") format("eot");
}

@font-face {
  font-family: "Spoqa-Hans";
  font-weight: 600;
  src:
    url("../app/_asset/fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2"),
    url("../app/_asset/fonts/SpoqaHanSansNeo-Bold.woff") format("woff"),
    url("../app/_asset/fonts/SpoqaHanSansNeo-Bold.eot") format("eot");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Spoqa-Hans";
  word-break: keep-all;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  float: left;
}

a {
  text-decoration: none;
  color: #333333;
}

header,
section,
footer {
  width: 100%;
  height: auto;
}

iframe {
  display: none;
}

button {
  background: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

#root {
  background: rgba(249, 249, 249, 0.7803921569);
}
